{%extends "base.html" %}
{%block content%}
<div class="section">
  <h1 class="display-6">Change Password</h1>
  <div class="container">
    <form action="" method="POST">
      <div class="mb-3">
        <label for="password" class="form-label">Current Password</label>
        <input type="password" class="form-control password" id="password" name="password" aria-describedby="password-help">
        <div id="password-help" class="form-text">Confirm by entering your password.</div>
      </div>
      <div class="mb-3">
        <label for="password-new" class="form-label">New Password</label>
        <input type="password" class="form-control password" id="password-new" name="password-new" aria-describedby="password-new-help">
        <div id="password-new-help" class="form-text">Your password is salted and hashed.</div>
      </div>
      <div class="mb-3">
        <label for="password-new-confirm" class="form-label">New Password Again</label>
        <input type="password" class="form-control password" id="password-new-confirm" name="password-new-confirm" aria-describedby="password-new-confirm-help">
        <div id="password-new-confirm-help" class="form-text">You don't want to update your account and not know the password.</div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}